header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.logo {
  color: var(--text-color, #252b42);

  /* h3 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}
.nav-link {
  color: var(--second-text-color, #737373);
  text-align: center;

  /* link */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

/* width="1440"
          height="710px" */
